.row{
width:70%;
height:400px;
background-color:black;
display:flex;
/*justify-content:space-evenly;
align-items:center;*/
}
.col
{
width:200px;
height:300px;
}
.col:nth-child(1){
background-color:red;
flex:1;
}

.col:nth-child(2){
background-color:green;
flex:2;
}
.col:nth-child(3){
background-color:blue;
flex:2;
}
.col:nth-child(4){
background-color:yellow;
flex:1;
}

header{
width:100%;
background-color:black;
padding:20px;
}
.container{

display:flex;
justify-content:space-between;

}
.container a{
text-decoration:none;
display:flex;
justify-content:space-between;
color:white;
}